body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white; /*despues ver fondo con imagen */
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  /*background-color: rgb(182, 99, 43);*/
  
  height:auto;
  width: 150px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
h3{
 /* background-color: rgb(12, 39, 66);*/
}

h1{
/*color: gold;*/
/*background-color: rgb(111, 113, 114);*/
text-align: center;
font-style: italic;
font-size:larger;
}

.lg_centrar{
  display: flex;
}

.menu{
 /* background-color: rgb(111, 113, 114);*/
}

.plato
,.logoizq
,.usu_der
{
 
  /*color: gold;*/
  /*background-color: rgb(111, 113, 114);*/
  margin-left: 15px;
  margin-right: 5px;
  
} 
.logo{
  /*animar el logo */
  
}
.metas{
  /*color: gold;*/
  /*background-color: rgb(111, 113, 114);*/
  margin-left: 15px;
  margin-right: 15px;
}
.plato
,.metas{
  width:280px;
}
.logoizq{
  width:fit-content;
}
.usu_der{
  width:200px;
}

ul
,li
{

  /*color: gold;*/
  display: flex;
  /*background-color: rgb(111, 113, 114);*/
  text-align: center;
  
  font-size:small;
  margin: 15px;
  
 
}

.misdatos{
  /*background-color: orange;*/
  display:table-row-group;
  font-size:small;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.header_datos{
  /*background-color: olivedrab;*/
}
.form_datos{
  /*background-color: olivedrab;*/
  display: flex;
  
  font-size:small;
  margin: 15px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}
.btn_guardar{
  margin-left: 20px;
}



